* {
    margin: 0 auto;
}

body {
    text-align: center;
    font-family: Poppins, sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/torshov-image.svg);
    background-size: cover;  
}

span {
    display: block;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #FFFFFF;
    background: #1D3557;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
}

h2 {
    background: #457B9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 50px;
}

h2 span {
    margin-top: 10px;
}

.activity-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F1FAEE;
    height: 100vh;
}

.activity-section div {
    width: 10%;
}

.second-section-img {
    width: 200px;
    border-radius: 50%;
}

.primare-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1D3557;
    padding-top: 23px;
    padding-bottom: 17px;
}

.third-section {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: whitesmoke;
}

.guide-section {
    display: flex;
    width: 30vw;
    height: 50vh;
    background: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
    padding: 50px 30px;
    color: #1D3557;
}

.guide-section div {
    margin-top: 100px;
}

.guide-section p {
    font-style: italic;
}

h4 {
    margin-top: 30px;
    font-size: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
}