body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 80px;
}

h2 .bold-text {
    font-size: 60px;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 16px;
} 

header,
section {
    padding: 100px 0;
}

header {
    background-color: #d7d7d7;
}

.about-me {
    background-color: #ffeaea;
}

.articles {
    background-color: #eaf9ff;
}