@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0 auto;
}

body {
    font-family: 'Karla', sans-serif;
}

.main-block {
    width: 550px;
    height: 610px;
    background-color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-text {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-left: 52px;
    padding-top: 80px;
}

.block-title {
    color: #60dd8e;
}

.sub-block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-top: 10px;
}

hr {
    width: 446px;
    height: 0px;
    left: 52px;
    margin-top: 35px;
    border: 1px solid #2F3E53;
}

button {
    width: 223px;
    height: 42px;
    background: #10B981;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-top: 51px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
    background-color: #18946b;
    color: #fff;
}

.button-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}

.rectangle {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 40px 0 40px;
}

.rectangles {
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    margin-bottom: 27px;
}

.rectangles img {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#pass-el, #s-pass-el, #t-pass-el, #f-pass-el {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
    margin-top: 3px;
}

.selectSection button {
    margin-top: 10px;
    width: 50px;
    font-size: 18px;
	  background-color: #273549;   
	  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	  border: 0;
    padding: 3px;
}

.selectSection button:hover {
	cursor: pointer;
}

.pass-length {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #D5D4D8;
}

.active {
	  background-color: #374151 !important;
}