/*  font-family: 'Source Sans Pro', sans-serif;  */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 2em 0;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    font-size: 0.625rem;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }


/* =================
   Intro section 
   ================= */
   
.intro {
    background-image: url(images/dark-ribs.jpg);
    background-size: cover;
    background-color: #404040;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
}


/* =================
   main-content section 
   ================= */
   
.main-content {
    padding: 2em 1em;
}


/* =================
   media queries 
   ================= */
   
@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
}
   