/*  font-family: 'Source Sans Pro', sans-serif;  */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 2em 0;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
}

.top-text {
    font-size: 0.625rem;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }


/* =================
   Intro section 
   ================= */
   
.intro {
    background-image: url(images/dark-ribs.jpg);
    background-color: #404040;
    padding: 0 .25em 1em;
    display: flex;
    flex-direction: column;
}