/*  font-family: 'Source Sans Pro', sans-serif;  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    font-size: 0.625rem;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }


/* =================
   Intro section 
   ================= */
   
.intro {
    background-image: url(images/dark-ribs.jpg);
    background-size: cover;
    background-color: #404040;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}


/* =================
   main-content section 
   ================= */
   
.main-content {
    padding: 2em 1em;
}



.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


/* =================
   form
   ================= */
   
.email-collector {
    width: 80%;
    max-width: 300px;
}

input,
.btn {
    width: 100%;
    border-radius: 5px;
}

input {
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    padding: .25em;
    border: 1px solid #404040;
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: white;
}

/* =================
   media queries 
   ================= */
   
@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}