body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1, h3{
    margin: 0;
}

h1{
    color: whitesmoke;
    font-size: 36px;
}

h2{
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
}

p{
    line-height: 23px;
}

/* links */

a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, a:active{
    color: #d4b44c;
}

.btn-dark,
.btn-mid,
.btn-light{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-light{
    background-color: whitesmoke;
    color: #5f29a3;
}

.btn-dark:hover,
.btn-mid:hover,
.btn-light:hover,
.btn-dark:active,
.btn-mid:active,
.btn-light:active{
    background-color: #f3e885;
    color: #2b283a;
}








/* layout */

header, section, footer{
    padding: 45px 0;
}

header, .section-two{
    background-color: #5f29a3;
}

.section-two{
    color: whitesmoke;
}

.container{
    width: 620px;
    margin: 0 auto;
}

.main-image{
    width:100%;
}

.section-two-image-container{
    display: flex;
    justify-content: space-between;
}

.feature-image{
    width: 300px;
    border-radius: 4.6px;
}

footer{
    text-align: center;
    color: #5f29a3;
}