body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    background-color: #5f29a3;
    padding: 45px 0px;
}

h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}