body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(15, 14, 20);
    background: linear-gradient(90deg, rgba(15, 14, 20, 1) 0%, rgba(21, 20, 28, 1) 50%, rgba(15, 14, 20, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 20em;
    width: 90%;
    margin: 2rem auto;
}

header {
    display: flex;
    justify-items: stretch;
    padding: 1.25rem 0.5rem;
    background-color: #fff;
    border-radius: 0.25rem 0.25rem 0 0;
}

.color-picker,
.color-mode,
.color-btn {
    font-family: 'Inter', sans-serif;
    margin: 0.375rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    height: 3rem;
}

.color-picker {
    flex: 1;
    padding: 0;
    border: none;
}

.color-mode {
    font-size: 1rem;
    background-color: #fff;
    flex: 6;
}

.color-btn {
    font-size: 0.75rem;
    flex: 2;
    background-color: #fff;
    cursor: pointer;
}

main {
    display: flex;
    min-height: 20em;
    height: 60vh;
}

.colors {
    flex: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

footer {
    display: flex;
    background-color: #fff;
    border-radius: 0 0 0.25rem 0.25rem;
}

.color-hex {
    font-size: 0.75rem;
    flex: 1;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

.color-name {
    position: absolute;
    transform: rotate(-15deg);
    left: -2em;
    right: -2em;
    top: 2.4em;
    font-size: 0.75rem;
    padding: 0.5em 2.5em;
    background-color: #2e2e2e;
    color: #ddd;
    text-align: center;
    border-radius: 2em;
}

#snackbar {
    visibility: hidden;
    position: fixed;
    font-weight: bold;
    font-size: 0.75rem;
    background-color: #ccc;
    padding: 0.75em 2em;
    border-radius: 2em;
    color: #070707;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    bottom: 1em;
}

#snackbar.show {
    visibility: visible;
    animation: fadein ease-out 0.5s, fadeout ease-out 0.5s 2.5s;
}

@keyframes fadein {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 1em;
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        bottom: 1em;
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 0;
    }
}

@media (max-width: 40rem) {
    header {
        flex-direction: column;
        padding: 0.5em;
        height: 8em;
    }

    .color-picker,
    .color-mode,
    .color-btn {
        margin: 0.1rem;
    }

    .color-picker {
        flex: 1.2;
        align-self: center;
        width: 100%;
    }

    .color-mode {
        flex: 1;
        text-align: center;
    }

    .color-btn {
        flex: 1;
        font-size: 1em;
    }
}